<?xml version="1.0"?>
    <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
        <default>
            <payment>
                <pagofacil_pagofacildirect>
                    <title>Pagofacil Direct</title>
                    <model>Pagofacil\Pagofacildirect\Model\Payment</model>
                    <active>1</active>
                    <cctypes>AE,VI,MC</cctypes>
                    <payment_action>authorize_capture</payment_action>
                    <!-- order_status>pending</order_status -->
                    <!-- ecommerce_source>Magento2 Api</ecommerce_source -->
                </pagofacil_pagofacildirect>
            </payment>
        </default>
    </config>